@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));   

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #8B5CF6;
}

.dark {
  --background: #111827;
  --foreground: #ededed;
}

/* Utility classes for primary colors */
.text-primary { color: var(--color-primary); }
.bg-primary { background-color: var(--color-primary); }
.border-primary { border-color: var(--color-primary); }

/* Secondary colors */
/* .text-secondary { color: var(--color-secondary); }
.bg-secondary { background-color: var(--color-secondary); }
.border-secondary { border-color: var(--color-secondary); }
 */
@theme{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.react-calendar-heatmap .color-scale-0 {
  fill: #18181B;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #196127; 
}

.react-calendar-heatmap .color-scale-2 {
  fill: #239a3b; 
}

.react-calendar-heatmap .color-scale-3 {
  fill: #7bc96f; 
}

.react-calendar-heatmap .color-scale-4 {
  fill: #c6e48b;
}

.react-calendar-heatmap .color-scale-5 {
  fill: #18181B; 
}