@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.react-calendar-heatmap .color-scale-0 {
  fill: #18181B;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #196127; 
}

.react-calendar-heatmap .color-scale-2 {
  fill: #239a3b; 
}

.react-calendar-heatmap .color-scale-3 {
  fill: #7bc96f; 
}

.react-calendar-heatmap .color-scale-4 {
  fill: #c6e48b;
}

.react-calendar-heatmap .color-scale-5 {
  fill: #18181B; 
}